/* Utility */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}

:root {
    --white: #ffffff;
    --electricblue: #0084FD;
    --babyblue: #B5DDFF;
    --violet: #9792E4;
    --sunglow: #FDC15F; 
    --grey20: #333333;
    --grey: #607588;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.debug {
    height: 50px;
    border: 2px solid red;
} 

.d-flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-items {
    align-items: center;
}

/* Style header */

header {
    background-color: var(--electricblue);
    color: var(--white);
    height: 60px;
    padding: 1rem 2rem;
}

.logo {
    height: 20px;
}

header img {
    height: 150%;
}

header i {
    font-size: 1.5rem;
    vertical-align: middle;
}

/* Style main */

#intro, #testimonials, #about-us {
    background-color: var(--white);
} 

#planning, #benefits, #get-started {
    background-color: var(--violet);
    color: var(--white);
}

.cards {
    padding: 40px 30px 60px;
}

.content-container {
    max-width: 80%;
    margin: 0 auto;
    line-height: 1.5;
    color: var(--grey); 
}

h2 {
    color: var(--electricblue);
    padding-top: 1.4rem;
    padding-bottom: 1.5rem;
    font-weight: bolder;
}

.card-less-rounded {
    border-radius: 20px;
    background-color: var(--babyblue);
    margin-bottom: 20px;
}

.phone-image img {
    height: 300px;
    text-align: center;
    margin-bottom: -5px;
}

button {
    background-color: var(--electricblue);
    border-style: none;
    font-size: 0.9em;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 12px 45px;
    margin: 40px auto;
    border-radius: 20px;
}

button a {
    text-decoration: none;
    color: var(--white);
}

button i {
    margin-right: 10px;
}



/* Style footer */

footer {
    background-color: var(--grey20);
    color: var(--white);
}



/* RESPONSIVE */

/* Desktop */

@media screen and (max-width: 768px) {
    nav {
        display: none;
    }
}