/* Utility */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    line-height: 1.5;
}

:root {
    --white: #ffffff;
    --electricblue: #0084FD;
    --babyblue: #B5DDFF;
    --violet: #9792E4;
    --sunglow: #FDC15F; 
    --grey20: #333333;
    --grey: #607588;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding-right: 30px;
    padding-left: 30px;
}

.debug {
    height: 50px;
    border: 2px solid red;
} 

.d-flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-items {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

/* Style header */

header {
    background-color: var(--electricblue);
    color: var(--white);
    height: 60px;
    padding-top: 1rem;
}

.logo {
    height: 20px;
}

header img {
    height: 150%;
}

header i {
    font-size: 1.5rem;
    vertical-align: middle;
}

/* Style main */

#intro, #testimonials, #about-us {
    background-color: var(--white);
} 

#planning, #benefits, #get-started {
    background-color: var(--violet);
    color: var(--white);
}

.cards {
    padding: 40px 30px 60px;
}

.content-container {
    max-width: 85%;
    margin: 0 auto;
}

h2 {
    color: var(--electricblue);
    padding-top: 1.4rem;
    padding-bottom: 1.5rem;
    font-weight: bolder;
}

.less-rounded {
    border-radius: 20px;
    background-color: var(--babyblue);
    margin-bottom: 20px;   
}

.strongly-rounded {
    border-radius: 40px;
}

.grey-txt {
    color: var(--grey); 
}

.phone-image img {
    display: block;
    height: 300px;
    width: 100%;
    text-align: center;
}

button {
    border-style: none;
    font-size: 0.9em;
    padding: 12px 45px;
    margin: 40px auto;
    border-radius: 20px;
}

.letter-spacing {
    font-weight: bold;
    letter-spacing: 2px;
}

.blue-btn {
    background-color: var(--electricblue);
}

.violet-btn {
    background-color: var(--violet);
}

button a {
    text-decoration: none;
    color: var(--white);
}

button i {
    margin-right: 10px;
}

.centered i {
    font-size: 4.5rem;
    color: var(--electricblue);
}

.centered {
    text-align:center;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
}

.planning1-image img, .planning2-image img {
    height: 300px;
    padding-top: 60px;
}

#planning h2 {
    color: var(--white);
    font-size: 2rem;
    padding-bottom: 2rem;
    padding-top: 3.5rem;
}

#planning {
    padding-bottom: 3.5rem;
}

.planning2-image img {
    padding-top: 0rem;
    width: 100%;
}

.bigger-h3 {
    padding-top: 0.8rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
}

.down-arrow {
    height: 40px;
    width: 40px;
    background-color: var(--violet);
    border-radius: 100%;
    text-align: center;
    line-height: 40px;
    position: relative;
    left: 45%;
    margin-top: 1.5rem;
}

.down-arrow i {
    font-size: 1em;
    color: black;
}

#testimonials .medium-text {
    color: var(--violet);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.violet-card {
    background-color: var(--violet);
    color: var(--white);
    margin-top: 2rem;
    padding-right: 0rem;
    padding-left: 0rem;
}

.white-card {
    background-color: var(--white);
    color: black;
    margin-top: 2rem;
    padding-top: 1rem;
}

.testimonial-image img {
    display: inline;
    margin: 0 auto;
    width: auto;
    height: 100%;
    margin-left: -25%;
}

.testimonial-image {
    margin: 0 auto;
    width: 180px;
    height: 180px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 1.5rem;
} 

.strongly-rounded.violet-card {
    padding-top: 2rem;
}

.strongly-rounded.violet-card p {
    line-height: 2;
    font-size: 1.2rem;
}

.name {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

#testimonials {
    padding-bottom: 4rem;
}

.small-quote {
    font-size: 5rem;
}

#benefits {
    padding-bottom: 2rem;
    padding-top: 2.5rem;
}

#about-us {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

#about-us p {
    line-height: 2;
    padding-top: 2rem;
}

#about-us img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.about-image {
    padding-bottom: 1.5rem;
}

.quote {
    font-size: 12rem;
    color: var(--violet);
    position: relative;
    top: 220px;
    left: 100px;
}

.small-pad {
    padding: 7px 10px;
}

.opacity-txt {
    opacity: 60%;
}

.medium-text {
    font-size: 1.8rem;
}

.violet-txt {
    color: var(--violet); 
}

.white-txt {
    color: var(--white);
}

.orange-txt {
    color: var(--sunglow);
}

.big-txt {
    font-size: 3rem;
}

.tiny-txt {
    font-size: 0.8rem;
}

.tiny-txt a {
    color: var(--white); 
}

.white-btn {
    background-color: var(--white);
}

.white-btn a {
    color: var(--violet);
}

.wide-pad {
    padding: 20px 60px;
}

#get-started {
    padding-top: 2rem;
    padding-bottom: 2rem;
}


/* Style footer */

footer {
    background-color: var(--grey20);
    color: var(--white);
}

footer .tiny-txt a {
    color: var(--violet);
}



/* RESPONSIVE */

/* Tablet */


@media screen and (min-width: 768px) {
    nav {
        display: none;
    }

    #intro .container.cards {
        display: flex;
        flex-flow: row wrap;
    }
    
    #intro .less-rounded {
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        width: calc(33.33% - 1.5rem);
    }

    #intro .less-rounded:first-child {
        width: calc(66.66% - 1.5rem);
    }

    .test-pic-quote {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
    }

    #benefits .cards  {
        display: flex;
        flex-flow: row wrap;
    }

    .less-rounded.white-card {
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        width: calc(50% - 1.5rem);
    }   
}
